/*========= FVアニメーション ===============*/
.Headline {
  animation: slideIn 5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

/* CSSアニメーションの設定 */
@keyframes slideIn {
  0% {
    transform: translateY(-6000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    animation-delay: ease 5s;
  }

  40%,
  100% {
    opacity: 1;
  }
}
/*========= FVアニメーション　ここまで ===============*/


/*========= モーダルウィンドウ表示 ===============*/
.modal_pop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997 !important;
}

.bg {
  background-color: #1119;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9998 !important;
}

.modal_pop img {
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998 !important;
}

.close-btn{
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0.7);
  border-radius: 100px;
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: center;
  z-index: 9999;
}

.close-btn__item{
 line-height: 60px;
 font-size: 40px;
}
/*========= モーダルウィンドウ表示　ここまで ===============*/
